
<div class="text">History</div>
<div class="container">
    <div class="box">   
        <table>
            <tr>
            <th>Mission ID</th>
            <th>Mission Type</th>
            <th>Date</th>
            <th>Drone ID</th>
            </tr>
            <tr *ngFor="let mission of missionArray">
                <td>{{mission.missionID}}</td>
                <td>{{mission.missionType}}</td>
                <td>{{mission.missionDate}}</td>
                <td>{{mission.missionDroneID}}</td>
             </tr>
        </table>
    </div>
</div>