
<div class="text">History</div>
<div class="container">
    <div class="box">   
        <table>
            <tr>
            <th>Mission ID</th>
            <th>Mission Type</th>
            <th>Date</th>
            <th>Drone ID</th>
            </tr>
            <tr>
            <td>DA123SD</td>
            <td>SAR</td>
            <td>10.12.2021</td>
            <td>DJI-F450</td>
            </tr>
            <tr>
            <td>DA124SD</td>
            <td>DELIVERY</td>
            <td>10.12.2021</td>
            <td>DJI-F550</td>
            </tr>
            <tr>
            <td>DA125SD</td>
            <td>SURVEILLANCE</td>
            <td>10.12.2021</td>
            <td>DJI-F650</td>
            </tr>
        </table>
    </div>
</div>