<div class="text">Contact</div>
<div class="container">
    <div class="box">   
        <div class="card">
            <img src="./assets/images/icons8-phone-100.png" alt="Avatar" class="phone" >
            <div class="contact_container">
                <h4><b>Phone number</b></h4> 
              <div class="details_container">
                  <label for="phoneNo" >(+40) 21 335 46 65</label>
                  <label for="phoneNo">(+40) 21 335 46 69</label>
                  <label for="phoneNo">(+40) 21 335 46 68</label>
              </div>

            </div>
          </div>

          <div class="card">
            <img src="./assets/images/icons8-email-100.png" alt="Avatar" class="phone" >
            <div class="contact_container">
              <h4><b>E-mail</b></h4> 
              <div class="details_container">
                <label for="email">relatii.publice@mta.ro</label>
            </div>
            </div>
          </div>

          <div class="card">
            <img src="./assets/images/icons8-location-100.png" alt="Avatar" class="phone" >
            <div class="contact_container">
              <h4><b>Location</b></h4> 
              <div class="details_container">
                <label for="address" >Bulevardul George Coşbuc nr. 39-49, Sector 5, BUCUREȘTI, Cod poștal 050141</label>
            </div>
            </div>
          </div>

    </div>
</div>