<div class="text">Services</div>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4" style="height: 400px;">
            <div class="card p-3 py-4 mt-5 mb-5" style="height: 500px;">
                <form [formGroup]="deliveryForm" (ngSubmit)="onSubmitDelivery()">
                    <div class="text-center"> <img src="assets/images/medical.jpg" width="200" height="150" class="rounded-circle">
                        <h3 class="mt-2">Delivery<h6 style="font-size: 10px;color: red;"><b>NOT AVAILABLE YET</b></h6></h3>
                        <div class="form-group">
                            <label for="missionLongitudeStart">Longitude pick-up</label>
                            <input type="text"
                                   formControlName="missionLongitudeStart"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedDelivery && fDelivery.missionLongitudeStart.errors }" />
                            <div *ngIf="submittedDelivery && fDelivery.missionLongitudeStart.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fDelivery.missionLongitudeStart.errors.required">Longitude to pick up required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="missionLatitudeStart">Latitude pick-up</label>
                            <input type="text"
                                   formControlName="missionLatitudeStart"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedDelivery && fDelivery.missionLatitudeStart.errors }" />
                            <div *ngIf="submittedDelivery && fDelivery.missionLatitudeStart.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fDelivery.missionLatitudeStart.errors.required">Latitude to pick up is required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="missionLongitudeEnd">Longitude to deliver</label>
                            <input type="text"
                                   formControlName="missionLongitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedDelivery && fDelivery.missionLongitudeEnd.errors }" />
                            <div *ngIf="submittedDelivery && fDelivery.missionLongitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fDelivery.missionLongitudeEnd.errors.required">Longitude to deliver is required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="missionLatitudeEnd">Latitude to deliver</label>
                            <input type="text"
                                   formControlName="missionLatitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedDelivery && fDelivery.missionLatitudeEnd.errors }" />
                            <div *ngIf="submittedDelivery && fDelivery.missionLatitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fDelivery.missionLatitudeEnd.errors.required">Latitude to deliver is required!</div>
                            </div>
                        </div>
                        <button style="background-color: #157FBE;" type="submit" class="btn btn-info">Send drone!</button>  
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5" style="height: 500px;">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
                    <div class="text-center"> <img src="assets/images/sar.jpg" width="200" height="150" class="rounded-circle">
                        <h3 class="mt-2">Search and rescue<h6 style="font-size: 10px;color: transparent;"><b>NOT AVAILABLE YET</b></h6></h3> 
                        <div class="form-group">
                            <label for="missionLongitudeEnd">Longitude</label>
                            <input type="text"
                                   formControlName="missionLongitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedSearch && fSearch.missionLongitudeEnd.errors }" />
                            <div *ngIf="submittedSearch && fSearch.missionLongitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fSearch.missionLongitudeEnd.errors.required">Longitude is required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="missionLatitudeEnd">Latitude</label>
                            <input type="text"
                                   formControlName="missionLatitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedSearch && fSearch.missionLatitudeEnd.errors }" />
                            <div *ngIf="submittedSearch && fSearch.missionLatitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fSearch.missionLatitudeEnd.errors.required">Latitude is required!</div>
                            </div>
                        </div>
                        <p>Point is the center of a 3 meters square.</p>
                        <button style="background-color: #157FBE;top: 76px;position: relative;" type="submit" class="btn btn-info">Send drone!</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 py-4 mt-5" style="height: 500px;">
                <form [formGroup]="surveillanceForm" (ngSubmit)="onSubmitSurveillance()">
                    <div class="text-center"> <img src="assets/images/terrain.jpg" width="200" height="150" class="rounded-circle">
                        <h3 class="mt-2">Terrain surveillance<h6 style="font-size: 10px;color: red;"><b>NOT AVAILABLE YET</b></h6></h3>
                        <div class="form-group">
                            <label for="missionLongitudeEnd">Longitude</label>
                            <input type="text"
                                   formControlName="missionLongitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedSurveill && fSurveillance.missionLongitudeEnd.errors }" />
                            <div *ngIf="submittedSurveill && fSurveillance.missionLongitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fSurveillance.missionLongitudeEnd.errors.required">Longitude is required!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="missionLatitudeEnd">Latitude</label>
                            <input type="text"
                                   formControlName="missionLatitudeEnd"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid': submittedSurveill && fSurveillance.missionLatitudeEnd.errors }" />
                            <div *ngIf="submittedSurveill && fSurveillance.missionLatitudeEnd.errors"
                                 class="invalid-feedback">
                                <div *ngIf="fSurveillance.missionLatitudeEnd.errors.required">Latitude is required!</div>
                            </div>
                        </div>
                        <p>Point is the center of a 3 meters square.</p>
                        <button style="background-color: #157FBE;position: relative;top:76px;" type="submit" class="btn btn-info">Send drone!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>