<section id="pricing" class="padd-section text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div style="top: 650px !important;position: relative;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;" class="container">
        <div class="section-title text-center">
            <h2><strong>MTADroneService</strong> can help you with:</h2>
        </div>
    </div>
    <div style="top: 700px !important;position: relative;width: auto !important; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important" class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>Delivery</h4>
                        <img src="assets/images/medical.jpg" alt="Delivery drone" width="200px" height="auto" position="relative">
                        <p>Now you have the chance to deliver medical supplies to those who are in great need and live in hard accessible areas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>Search and rescue</h4>
                        <img src="assets/images/sar.jpg" alt="SAR drone" width="200px" height="auto" position="relative">
                        <p>We offer you the unique possibility to search and rescue a lost person, from a remote location, only with the help of a drone.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>Terrain surveillance</h4>
                        <img src="assets/images/terrain.jpg" alt="Terrain surveillance drone" width="220px" height="auto" position="relative">
                        <p>Go and make you own investigations on multiple different terrain types with just the help of our autonomous system.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-pricing">
                    <div class="table">
                        <h4>Real time tracking</h4>
                        <img src="assets/images/tracking.jpg" alt="SAR drone" width="220px" height="110px;" position="relative">
                        <p>In order to make your experience more exciting, you have the great option to track your drone in real time to see where it is.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>