<div class="text">Reviews</div>
<div class="container">
    <div class="box">  

        <div class="experience_container">
              <label for="username">Userame</label>
              <input type="text" id="username" name="username" placeholder="Your name..">
              <label for="message">Message</label>
              <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
            <div style="text-align:center;">
              <input type="submit" value="Submit">
            </div>
        </div> 

              
        <h2 style="text-align:center; padding-top: 10%; padding-bottom: 5%;">What customers said</h2>
      
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="padding-bottom: 5%;">
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>        
        </ol>
        <div class="carousel-inner" role="listbox">   
          <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
             <div class="card mb-2">
                <img class="card-img-top" src="./assets/images/agree.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">iamgabrielachr</h4>
                  <p class="card-text">Great experience! I was able to find a group of people that
                    was lost in the National Park &#9748;.
                  </p>
                </div>
              </div>
            </div>   
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="./assets/images/agree.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">findingcoriii</h4>
                  <p class="card-text">Even though my mission's result was not that relevant,
                    it seems to me a promising project &#10084;!
                  </p>
                </div>
              </div>
            </div>     
            <div class="col-md-3" style="float:left">
              <div class="card mb-2">
                <img class="card-img-top"
                  src="./assets/images/agree.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">ilonateodora18</h4>
                  <p class="card-text">I did not tried the platform, but the presentation seems
                    very attractive. Looking forward to try it. 🤩
                  </p>
                </div>
              </div>
            </div>      
             <div class="col-md-3" style="float:left">
             <div class="card mb-2">
                <img class="card-img-top"
                  src="./assets/images/agree.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">claudia.ndr</h4>
                  <p class="card-text">My mission went smoothly, but i wasn't that happy 
                    with the images' quality. I am waiting for future upgrades! 😞
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>