<div class="row" style="width: 900px;">
    <div class="col-md-6 mx-auto p-0">
        <div style="top: 650px;width: 900px;left:-45px" class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <div class="login">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text"
                                           formControlName="username"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fLogin.username.errors }" />
                                    <div *ngIf="submitted && fLogin.username.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="fLogin.username.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           formControlName="password"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fLogin.password.errors }" />
                                    <div *ngIf="submitted && fLogin.password.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="fLogin.password.errors.required">Password is required</div>
                                    </div>
                                </div>                        
                                <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                                <div class="hr"></div>
                            </form>
                            <div style="top:-90px;position: relative;" class="group"> <label for="pass" class="label">Username</label> <input style="height: 20px;" id="pass" type="text" class="input" data-type="text"> </div>
                            <div style="top:-90px;position: relative;" class="group"> <label for="pass" class="label">Password</label> <input style="height: 20px;" id="pass" type="password" class="input" data-type="password"> </div>
                            <div style="top:-90px;position: relative;" class="group"> <label for="pass" class="label">New password</label> <input style="height: 20px;" id="pass" type="password" class="input" data-type="password"> </div>
                            <button style="top:-115px;position: relative;left: 120px;" type="button" class="btn btn-link">Forgot password?</button>
                        </div>
                        <div class="sign-up-form">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text"
                                           formControlName="username"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fRegister.username.errors }" />
                                    <div *ngIf="submitted && fRegister.username.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="fRegister.username.errors.required">Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password"
                                           formControlName="password"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && fRegister.password.errors }" />
                                    <div *ngIf="submitted && fRegister.password.errors"
                                         class="invalid-feedback">
                                        <div *ngIf="fRegister.password.errors.required">Password is required</div>
                                    </div>
                                </div>                        
                                <div class="group"> <input type="submit" class="button" value="Sign up"> </div>
                                <div class="hr"></div>
                            </form>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>