<div class="text">About</div>
<div class="container">
    <div class="box">  
        <h1>Started from the bottom...</h1>

        <div class="wrapingimage">   
            <img src="./assets/images/navio2gui.png" height="200" width="200"  alt="image">    
            </div> 
            
        <div class="rightwrapingimage">
            <img src="./assets/images/kit.jpg"
            height="200" width="200" alt = "image">
        </div>
            <p style="margin-top: 5%; word-wrap: break-word; width: 100%">   
                MTADroneService is a web service that wants to help people achieve different tasks, from saving people to 
                simply delivering some goods to searching and rescuing humans who are in real danger.
                Consequently, with the desire to save or help other human beings, we put together a drone, all from scratch
                and then we taught it how to fly.

                In order to achieve our goal, we first bought a Raspberry Pi 3 Model B+ and a shield autopilot, Navio2, and 
                used them together as the main board and brain of our drone.Along with there, we used a F450 frame, alongside
                with motors, propells and adequate GPS.

            </p> 

            <h1 style="margin-top: 10%;margin-left: 15%;">Now, we are here! :)</h1>

            <div class="wrapingimage">   
                <img src="./assets/images/drone1.jpg" height="200" width="200" alt="image">    
            </div>
            <p style="margin-top: 5%; word-wrap: break-word; width: 100%">   
                After assembling all the parts together, we built a Cloud service that sustains all our application with the help
                of Google Cloud Platform.As a result, both the graphic interface and the web server runs within the pods of the Cloud 
                cluster.
                <br>All of these being said, it was never easier for a user to use a drone.Besides making life easier for every human being,
                another utterly important goal for us is to expand our service to be able to sustain multiple drones at the same time, so that 
                a user to be able to make use of the service, without waiting for the drone to be available.Also, we would also like to provide
                multiple services like delivery or terrain surveillance.
                <br>Even though currently we can only offer a single drone to perform just the SAR mission, we hope that our service it's at its 
                best performance and can bring all the advantages it has in order to save people's life.
            </p>
    </div>
</div>